{% extends "base.twig" %}
{% block content %}

<p>רוכש נכבד,</p>
<p>מצורף לינק ליצרית סיסמה קבועה.</p>
<p>שימו לב, הלינק פעיל במשך 5 דקות</p>

{% set reset_url = settings.front_url|trim('/') ~ '/reset-password/' ~ reset_token %}
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>

<p>ברוך הבא!!</p>
<p>צוות BDO</p>

{% endblock %}
