{% extends "custom-base.twig" %}
{% block content %}

<p>Hey {{ user_full_name }},</p>

<p>You didn't change password more than 3 months, we've created new one:</p>

<p><pre>{{ new_password }}</pre></p>

{% set front_url = settings.front_url|trim('/') %}
<p><a href="{{ front_url }}">{{ front_url }}</a></p>

<p>ברוך הבא!!</p>
<p>צוות BDO</p>

{% endblock %}
