<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    verbose="false"
>
    <php>
        <var name="DB_HOST" value="127.0.0.1" />
        <var name="DB_PORT" value="8889" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="root" />
        <var name="DB_DBNAME" value="bdo_realestate" />
    </php>
    <testsuites>
        <testsuite name="parsers">
            <directory>tests/extensions/custom/parsers/</directory>
        </testsuite>
        <testsuite name="imports">
            <directory>tests/extensions/custom/imports/</directory>
        </testsuite>
    </testsuites>
</phpunit>